{{!--
  This component is meant to display `submission.status` in a nice way. It should be useable
  in the submission details page as well as the submissions table in the dashboard
  --}}

<h1>{{status}}</h1>
