{{!--
  This component is intended to be used as a table cell within the `ember-models-table` on the
  dashboard. It presents action buttons to a user when possible to allow the user to edit or
  remove a submission.

  We can add other actions here, such as a "Review" option for a metadata curator, for example.
--}}

<div>
  {{#if editable}}
    <LinkTo class="btn btn-primary" @route="submission.workflow" title="Edit">
      <i class="fa fa-pencil"></i>
      <span class="sr-only">Edit</span>
    </LinkTo>
  {{/if}}
  {{#if removable}}
    <button class="btn btn-outline-danger" {{action "delete"}} title="Delete">
      <i class="fa fa-trash"></i>
      <span class="sr-only">Delete</span>
    </button>
  {{/if}}
</div>
