html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 85px;
  overflow-x: hidden;
  font-size: 1em !important;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}
h1 {
  font-size: 1.7rem!important;
}
h2 {
  font-size: 1.4rem!important;
}
h3 {
  font-size: 1.3rem!important;
}
#brand-site-nav {
  font-size: 18px;
}
#app-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #f5f5f5;
  text-align: center;
}

/* ember-models-table */
.models-table-wrapper .input-group span.input-group-btn {
  visibility: hidden;
}
th.table-header i {
  display: inline-flex;
  cursor: pointer;
  float: right;
}
th.table-header i:not(.fa-sort-asc):not(.fa-sort-desc) {
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-font-smoothing: antialiased;
}
th.table-header i:not(.fa-sort-asc):not(.fa-sort-desc):before {
  content: "\f0dc" !important;
}
.table thead th {
  border-bottom: 2px solid #dedede !important;
  border-top: 1px solid #dedede !important;
}
.table-bordered {
  border-bottom: 1px solid #dedede !important;
  border-left: none !important;
  border-right: none !important;
}
.models-table-wrapper tbody tr {
  background: #fdfdfd;
}
th {
  border-left: none!important;
  border-right: none!important;
}
td {
  border: none!important;
  border-bottom: 1px solid #dedede!important;
  vertical-align: middle!important;
}
.models-table-wrapper tbody tr {
  background-color: #fdfdfd !important;
}
