{{!-- Have navigation tabs here --}}
<h2>Workflow wrapper stub</h2>
<div class="row">
  {{!-- Separate navbar for easy workflow navigation --}}
  <nav class="my-4" role="navigation">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <LinkTo @route="submission.workflow.agreements" class="nav-link">Agreements</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="submission.workflow.metadata" class="nav-link">Metadata</LinkTo>
      </li>
      <li class="nav-item">
        <LinkTo @route="submission.workflow.files" class="nav-link">Files</LinkTo>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
  {{outlet}} {{!-- This outlet is where nested workflow steps will be rendered --}}
</div>