{{!--
  This component is meant to be used as a table cell in the `ember-models-table` rendered
  in the dashboard. It will display a submission title as a link to the submission details
  page, or a dummy message if no title yet exists for the submission
--}}
<div>
  <LinkTo @route="submission.details" @model={{this.submission}}>
    {{#if (get submission "_metadataJson.title")}}
      {{get submission "_metadataJson.title"}}
    {{else}}
      <em>Click for details</em>
    {{/if}}
  </LinkTo>
  {{#if this.hasActions}}
    <div class="text-danger">
      <ul>
        {{#each this.actionMessages as |message|}}
          <li>{{message}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
