<h3 class="w-100">Agreements (stub)</h3>

{{outlet}}

<p>
  Here the user will be shown a series of agreements that they must acknowledge before
  they can enter metadata or upload files
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet facilisis magna etiam tempor. Tempus imperdiet nulla malesuada pellentesque. Laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt. Turpis nunc eget lorem dolor sed. Euismod quis viverra nibh cras pulvinar mattis nunc. Integer malesuada nunc vel risus commodo viverra. Vel quam elementum pulvinar etiam non quam lacus. Enim sit amet venenatis urna cursus eget nunc scelerisque viverra. Et leo duis ut diam quam nulla porttitor. Leo in vitae turpis massa sed. Sagittis orci a scelerisque purus semper eget duis at tellus. Laoreet id donec ultrices tincidunt arcu non sodales. Sit amet consectetur adipiscing elit pellentesque. A lacus vestibulum sed arcu non odio euismod. Leo integer malesuada nunc vel risus commodo viverra. Ut consequat semper viverra nam libero. Mi quis hendrerit dolor magna eget est lorem. Vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras.
</p>
<p>
  Purus sit amet volutpat consequat mauris nunc. Sit amet nisl suscipit adipiscing bibendum est ultricies integer quis. Vel turpis nunc eget lorem. Sapien faucibus et molestie ac. Pharetra diam sit amet nisl suscipit adipiscing bibendum est. Neque gravida in fermentum et. Amet est placerat in egestas erat. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Mauris a diam maecenas sed enim ut sem viverra. Nibh venenatis cras sed felis eget velit. Ipsum nunc aliquet bibendum enim facilisis gravida. Cursus vitae congue mauris rhoncus aenean vel elit. Viverra adipiscing at in tellus integer feugiat scelerisque. Luctus venenatis lectus magna fringilla urna.
</p>
<p>
  Justo laoreet sit amet cursus sit amet dictum sit. Sagittis id consectetur purus ut. Sit amet mauris commodo quis. Tempor commodo ullamcorper a lacus vestibulum. Sed adipiscing diam donec adipiscing tristique risus nec. Odio pellentesque diam volutpat commodo sed egestas. Faucibus scelerisque eleifend donec pretium vulputate sapien. Neque egestas congue quisque egestas. Enim nunc faucibus a pellentesque sit amet porttitor eget dolor. Porta lorem mollis aliquam ut porttitor. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in. Nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris. Fringilla est ullamcorper eget nulla facilisi etiam.
</p>
<p>
  Dui accumsan sit amet nulla. Faucibus purus in massa tempor. Quam elementum pulvinar etiam non. Curabitur gravida arcu ac tortor dignissim convallis aenean. Aliquam sem fringilla ut morbi tincidunt augue. Non enim praesent elementum facilisis leo vel fringilla est. Aenean vel elit scelerisque mauris pellentesque pulvinar. Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Ut consequat semper viverra nam libero justo. Cras fermentum odio eu feugiat. Augue lacus viverra vitae congue eu consequat ac. Enim diam vulputate ut pharetra sit amet aliquam. Etiam erat velit scelerisque in dictum non. Volutpat ac tincidunt vitae semper. Dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in. Et molestie ac feugiat sed lectus vestibulum mattis. Risus quis varius quam quisque. Porta nibh venenatis cras sed felis. Nec dui nunc mattis enim ut.
</p>
<p>
  Malesuada fames ac turpis egestas sed tempus urna. Nec ultrices dui sapien eget. Accumsan tortor posuere ac ut consequat semper. Tellus cras adipiscing enim eu turpis. Et magnis dis parturient montes nascetur. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant. Eu consequat ac felis donec et odio pellentesque diam volutpat. Venenatis lectus magna fringilla urna porttitor rhoncus dolor. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Tincidunt dui ut ornare lectus sit amet est placerat. Auctor urna nunc id cursus metus aliquam. Enim blandit volutpat maecenas volutpat blandit. Risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. Laoreet sit amet cursus sit amet dictum sit amet. Mauris ultrices eros in cursus turpis massa tincidunt. Lacus vel facilisis volutpat est velit egestas dui. Aliquam sem fringilla ut morbi.
</p>
<p>
  Amet nisl purus in mollis nunc sed id. Vel quam elementum pulvinar etiam non quam lacus. Cras fermentum odio eu feugiat pretium nibh. Pellentesque massa placerat duis ultricies lacus sed. Semper risus in hendrerit gravida rutrum quisque non tellus. Enim ut sem viverra aliquet. Nulla facilisi etiam dignissim diam quis. Odio euismod lacinia at quis risus. Faucibus a pellentesque sit amet porttitor eget dolor morbi. Felis donec et odio pellentesque diam volutpat. Arcu ac tortor dignissim convallis aenean et tortor at risus. Integer feugiat scelerisque varius morbi enim nunc faucibus a pellentesque. Praesent semper feugiat nibh sed pulvinar proin gravida. Faucibus in ornare quam viverra orci sagittis. Lectus arcu bibendum at varius vel pharetra vel turpis. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Tellus id interdum velit laoreet id donec ultrices tincidunt arcu. Venenatis urna cursus eget nunc. At imperdiet dui accumsan sit amet nulla facilisi. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus.
</p>
<p>
  Massa sapien faucibus et molestie ac feugiat. Volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Ut pharetra sit amet aliquam id diam maecenas ultricies. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Rhoncus mattis rhoncus urna neque viverra. Purus semper eget duis at. Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Quis enim lobortis scelerisque fermentum dui faucibus. Arcu dui vivamus arcu felis. Pharetra sit amet aliquam id diam maecenas ultricies. Interdum varius sit amet mattis vulputate enim. Sed risus ultricies tristique nulla aliquet enim. Aenean et tortor at risus viverra adipiscing at in tellus. Pharetra sit amet aliquam id diam maecenas ultricies.
</p>
<p>
  Platea dictumst quisque sagittis purus sit. Arcu non odio euismod lacinia. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Tempor nec feugiat nisl pretium. Varius duis at consectetur lorem. Vitae congue mauris rhoncus aenean vel. Tristique senectus et netus et malesuada. Duis convallis convallis tellus id interdum. Tellus rutrum tellus pellentesque eu tincidunt. A pellentesque sit amet porttitor eget. Ultricies tristique nulla aliquet enim tortor at. Neque convallis a cras semper auctor neque vitae tempus quam. Nunc lobortis mattis aliquam faucibus purus in massa tempor. Id diam vel quam elementum. Nibh mauris cursus mattis molestie a iaculis. Diam maecenas sed enim ut. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Eget felis eget nunc lobortis mattis aliquam faucibus purus in. Consequat nisl vel pretium lectus.
</p>
<p>
  Eu mi bibendum neque egestas congue quisque egestas diam in. Tincidunt vitae semper quis lectus nulla at volutpat diam. Lobortis mattis aliquam faucibus purus in massa tempor nec. Hendrerit dolor magna eget est lorem. Aliquam nulla facilisi cras fermentum. In nisl nisi scelerisque eu ultrices vitae auctor. Pharetra massa massa ultricies mi quis. Faucibus pulvinar elementum integer enim. Amet luctus venenatis lectus magna fringilla. Eu turpis egestas pretium aenean pharetra. Ac tincidunt vitae semper quis lectus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Id diam vel quam elementum pulvinar etiam. At imperdiet dui accumsan sit amet nulla. Arcu dictum varius duis at consectetur. Et leo duis ut diam quam. Urna condimentum mattis pellentesque id nibh tortor id. Nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Ac felis donec et odio pellentesque. Dui ut ornare lectus sit amet est.
</p>
<p>
  Blandit volutpat maecenas volutpat blandit. Venenatis tellus in metus vulputate eu scelerisque felis. Dui id ornare arcu odio ut sem nulla pharetra diam. Sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh. Arcu odio ut sem nulla pharetra diam sit amet. Ornare quam viverra orci sagittis eu. Sit amet cursus sit amet dictum sit amet justo donec. Sagittis nisl rhoncus mattis rhoncus urna. Cursus euismod quis viverra nibh cras.
</p>

<WorkflowFooter
  @cancel={{this.cancel}}
  @back={{this.back}}
  @next={{this.next}} />