{{!-- Have navigation tabs here --}}
<h2>Workflow wrapper stub</h2>
{{outlet}} {{!-- This outlet is where nested workflow steps will be rendered --}}
{{!-- Workflow footer - Next/Back buttons, etc --}}