<h3 class="w-100">Metadata (stub)</h3>

{{outlet}}

<p>
  User will enter package level metadata into a single form here. A "metadta curator" will then review
  this metadata, possibly modifying the data if necessary, or sending it back to the user for them to
  change if an error is found.
</p>

<MetadataForm @metadata={{this.submission}} />