<div class="row mt-3 mb-3">
  <div class="col-8">
    <h2>Dashboard</h2>
  </div>
  <div class="col">
    <LinkTo class="btn btn-primary float-right" @route="submission.workflow.agreements">Create new submission</LinkTo>
  </div>
</div>

{{outlet}}

<p>
  Display a list of submissions here
</p>

<div class="row">
  <div class="col-12">
    <div class="submission-table">
      {{models-table
        data=submissions
        columns=columns
        themeInstance=themeInstance
        showColumnsDropdown=false
        filteringIgnoreCase=true
        multipleColumnsSorting=false
        useFilteringByColumns=false
      }}
    </div>
  </div>
</div>

