<h2>Dashboard stub</h2>

{{outlet}}

<p>
  Display a list of submissions here
</p>

<div class="row">
  <div class="col-12">
    {{models-table
      data=model
      columns=columns
      themeInstance=themeInstance
      showColumnsDropdown=false
      filteringIgnoreCase=true
      multipleColumnsSorting=false
      useFilteringByColumns=false
    }}
  </div>
</div>
