
<div class="row">
  <div class="ml-auto">
    <LinkTo class="btn btn-primary" @route="submission.workflow.agreements">Create new submission</LinkTo>
  </div>
</div>

{{outlet}}

<p>
  Display a list of submissions here
</p>

<div class="row">
  <div class="col-12">
    {{models-table
      data=model
      columns=columns
      themeInstance=themeInstance
      showColumnsDropdown=false
      filteringIgnoreCase=true
      multipleColumnsSorting=false
      useFilteringByColumns=false
    }}
  </div>
</div>
